In [1]:
import pandas as pd
import shapely
import numpy as np
import sys
import argparse
import random
import math
import os
from sklearn.preprocessing import OneHotEncoder
from scipy.stats import stats
import warnings
warnings.filterwarnings("ignore")
pd.options.display.max_columns = 999
pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x))

In [6]:
# read file
data = pd.read_pickle('../results/new_sample.tmp')

In [9]:
data.head()

,Jobid,Rot,List of Coordinates,Shapely Polygon,Metric1,Metric2,Metric3,Metric4,Area,Length,Left down,score,right down
16,92600-1250_7_16,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",17.00,132.00,849.00,5.00,4439.800,615.763,"(256.8, 849.0)",0.500,"(256.8, 903.5)"
17,92600-1250_7_17,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",18.00,288.00,1354.00,4.00,4439.800,615.763,"(342.5, 1354.0)",4.000,"(342.5, 1478.8)"
18,92600-1250_7_18,90.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",19.00,386.00,1352.00,4.00,7228.382,901.580,"(509.3, 1352.0)",4.000,"(509.3, 1455.6)"
19,92600-1250_7_19,90.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",20.00,135.00,1186.00,2.00,23178.165,1448.933,"(175.0, 1186.0)",0.000,"(175.0, 1874.3)"
20,92600-1250_7_20,90.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",21.00,491.00,1466.00,4.00,1103.760,192.719,"(511.0, 1466.0)",4.000,"(511.0, 1554.3)"

In [12]:
def bin_6(x):
    binofx = bin(x)[2:]
    str_ = ""
    if len(binofx) < 6:
        return str_.join((str_.join(["0"]*(6-len(binofx))),binofx))
    else:
        return binofx

In [13]:
data['seq_in_job'] = data['Jobid'].map(lambda x: x.split('_')[-1]).astype(int)
data['bin_seq_in_job'] = data['seq_in_job'].map(lambda x: bin_6(x))
data["batch_jobid"] =  data['Jobid'].map(lambda x: x.split('_')[0]+"_"+x.split('_')[1])
data['num_of_corr'] = data['List of Coordinates'].map(lambda x: len(x)).astype("category")

In [14]:
tmp = pd.get_dummies(data["num_of_corr"])
tmp.columns = ["13_coords", "17_coords","18_coords","23_coords","26_coords","54_coords"]
data = pd.concat([data, tmp], axis=1)

In [15]:
data['Rot'][data['Rot'] == '5.00'] = '0.00'
tmp = pd.get_dummies(data["Rot"])
tmp.columns = ["Rot_0", "Rot_90"]
data = pd.concat([data, tmp], axis=1)

In [16]:
temp = "".join(list(data["bin_seq_in_job"].values))
array_temp = np.array([int(i) for i in temp]).reshape(-1,6)
DF_temp = pd.DataFrame(array_temp, columns = ["pos_0", "pos_1", "pos_2", "pos_3", "pos_4", "pos_5"])
DF_temp.index= data.index
data = pd.concat([data, DF_temp], axis=1)

In [17]:
data

,Jobid,Rot,List of Coordinates,Shapely Polygon,Metric1,Metric2,Metric3,Metric4,Area,Length,Left down,score,right down,seq_in_job,bin_seq_in_job,batch_jobid,num_of_corr,13_coords,17_coords,18_coords,23_coords,26_coords,54_coords,Rot_0,Rot_90,pos_0,pos_1,pos_2,pos_3,pos_4,pos_5
16,92600-1250_7_16,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",17.00,132.00,849.00,5.00,4439.800,615.763,"(256.8, 849.0)",0.500,"(256.8, 903.5)",16,010000,92600-1250_7,18,0,0,1,0,0,0,1,0,0,1,0,0,0,0
17,92600-1250_7_17,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",18.00,288.00,1354.00,4.00,4439.800,615.763,"(342.5, 1354.0)",4.000,"(342.5, 1478.8)",17,010001,92600-1250_7,18,0,0,1,0,0,0,0,1,0,1,0,0,0,1
18,92600-1250_7_18,90.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",19.00,386.00,1352.00,4.00,7228.382,901.580,"(509.3, 1352.0)",4.000,"(509.3, 1455.6)",18,010010,92600-1250_7,54,0,0,0,0,0,1,0,1,0,1,0,0,1,0
19,92600-1250_7_19,90.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",20.00,135.00,1186.00,2.00,23178.165,1448.933,"(175.0, 1186.0)",0.000,"(175.0, 1874.3)",19,010011,92600-1250_7,17,0,1,0,0,0,0,0,1,0,1,0,0,1,1
20,92600-1250_7_20,90.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",21.00,491.00,1466.00,4.00,1103.760,192.719,"(511.0, 1466.0)",4.000,"(511.0, 1554.3)",20,010100,92600-1250_7,13,1,0,0,0,0,0,0,1,0,1,0,1,0,0
21,92600-1250_7_21,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",22.00,467.00,1231.00,5.00,4439.800,615.763,"(591.8, 1231.0)",0.500,"(591.8, 1285.5)",21,010101,92600-1250_7,18,0,0,1,0,0,0,1,0,0,1,0,1,0,1
22,92600-1250_7_22,90.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",23.00,497.00,1299.00,2.00,7228.382,901.580,"(620.3, 1299.0)",0.000,"(620.3, 1402.6)",22,010110,92600-1250_7,54,0,0,0,0,0,1,0,1,0,1,0,1,1,0
23,92600-1250_7_23,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",24.00,584.00,1433.00,2.00,4439.800,615.763,"(638.5, 1433.0)",0.000,"(638.5, 1557.8)",23,010111,92600-1250_7,18,0,0,1,0,0,0,0,1,0,1,0,1,1,1
24,92600-1250_7_24,0.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",25.00,186.00,87.00,2.00,25195.570,1434.169,"(794.5, 87.0)",0.000,"(794.5, 204.3)",24,011000,92600-1250_7,23,0,0,0,1,0,0,1,0,0,1,1,0,0,0
25,92600-1250_7_25,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",26.00,528.00,1238.00,2.00,4439.800,615.763,"(582.5, 1238.0)",0.000,"(582.5, 1362.8)",25,011001,92600-1250_7,18,0,0,1,0,0,0,0,1,0,1,1,0,0,1
26,92600-1250_7_26,90.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",27.00,606.00,1297.00,4.00,7228.382,901.580,"(729.3, 1297.0)",4.000,"(729.3, 1400.6)",26,011010,92600-1250_7,54,0,0,0,0,0,1,0,1,0,1,1,0,1,0
27,92600-1250_7_27,0.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",28.00,285.00,87.00,2.00,25195.570,1434.169,"(893.5, 87.0)",0.000,"(893.5, 204.3)",27,011011,92600-1250_7,23,0,0,0,1,0,0,1,0,0,1,1,0,1,1
28,92600-1250_7_28,90.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",29.00,713.00,1230.00,2.00,16412.140,1145.674,"(869.1, 1230.0)",0.000,"(869.1, 1347.4)",28,011100,92600-1250_7,26,0,0,0,0,1,0,0,1,0,1,1,1,0,0
29,92600-1250_7_29,0.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",30.00,713.00,1390.00,5.00,1103.760,192.719,"(801.3, 1390.0)",0.500,"(801.3, 1410.0)",29,011101,92600-1250_7,13,1,0,0,0,0,0,1,0,0,1,1,1,0,1
30,92600-1250_7_30,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",31.00,132.00,978.00,5.00,4439.800,615.763,"(256.8, 978.0)",0.500,"(256.8, 1032.5)",30,011110,92600-1250_7,18,0,0,1,0,0,0,1,0,0,1,1,1,1,0
31,92600-1250_7_31,0.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",32.00,387.00,87.00,2.00,25195.570,1434.169,"(995.5, 87.0)",0.000,"(995.5, 204.3)",31,011111,92600-1250_7,23,0,0,0,1,0,0,1,0,0,1,1,1,1,1
32,92600-1250_7_32,90.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",33.00,802.00,1331.00,4.00,7228.382,901.580,"(925.3, 1331.0)",4.000,"(925.3, 1434.6)",32,100000,92600-1250_7,54,0,0,0,0,0,1,0,1,1,0,0,0,0,0
33,92600-1250_7_33,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",34.00,137.00,1106.00,4.00,4439.800,615.763,"(191.5, 1106.0)",4.000,"(191.5, 1230.8)",33,100001,92600-1250_7,18,0,0,1,0,0,0,0,1,1,0,0,0,0,1
34,92600-1250_7_34,90.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",35.00,832.00,1191.00,2.00,7228.382,901.580,"(955.3, 1191.0)",0.000,"(955.3, 1294.6)",34,100010,92600-1250_7,54,0,0,0,0,0,1,0,1,1,0,0,0,1,0
35,92600-1250_7_35,90.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",36.00,885.00,1318.00,3.00,23178.165,1448.933,"(925.0, 1318.0)",3.500,"(925.0, 2006.3)",35,100011,92600-1250_7,17,0,1,0,0,0,0,0,1,1,0,0,0,1,1
36,92600-1250_7_36,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",37.00,909.00,1367.00,3.00,4439.800,615.763,"(963.5, 1367.0)",3.500,"(963.5, 1491.8)",36,100100,92600-1250_7,18,0,0,1,0,0,0,0,1,1,0,0,1,0,0
37,92600-1250_7_37,0.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",38.00,1035.00,1395.00,5.00,1103.760,192.719,"(1123.3, 1395.0)",0.500,"(1123.3, 1415.0)",37,100101,92600-1250_7,13,1,0,0,0,0,0,1,0,1,0,0,1,0,1
38,92600-1250_7_38,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",39.00,1606.00,1362.00,5.00,4439.800,615.763,"(1730.8, 1362.0)",0.500,"(1730.8, 1416.5)",38,100110,92600-1250_7,18,0,0,1,0,0,0,1,0,1,0,0,1,1,0
39,92600-1250_7_39,90.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",40.00,181.00,729.00,2.00,25195.570,1434.169,"(298.3, 729.0)",0.000,"(298.3, 1337.5)",39,100111,92600-1250_7,23,0,0,0,1,0,0,0,1,1,0,0,1,1,1
40,92600-1250_7_40,0.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",41.00,190.00,818.00,4.00,7228.382,901.580,"(293.6, 818.0)",4.000,"(293.6, 941.3)",40,101000,92600-1250_7,54,0,0,0,0,0,1,1,0,1,0,1,0,0,0
41,92600-1250_7_41,90.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",42.00,190.00,925.00,2.00,23178.165,1448.933,"(230.0, 925.0)",0.000,"(230.0, 1613.3)",41,101001,92600-1250_7,17,0,1,0,0,0,0,0,1,1,0,1,0,0,1
42,92600-1250_7_42,90.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",43.00,190.00,969.00,2.00,25195.570,1434.169,"(307.3, 969.0)",0.000,"(307.3, 1577.5)",42,101010,92600-1250_7,23,0,0,0,1,0,0,0,1,1,0,1,0,1,0
43,92600-1250_7_43,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",44.00,260.00,1058.00,2.00,4439.800,615.763,"(314.5, 1058.0)",0.000,"(314.5, 1182.8)",43,101011,92600-1250_7,18,0,0,1,0,0,0,0,1,1,0,1,0,1,1
44,92600-1250_7_44,90.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",45.00,799.00,969.00,2.00,16412.140,1145.674,"(955.1, 969.0)",0.000,"(955.1, 1086.4)",44,101100,92600-1250_7,26,0,0,0,0,1,0,0,1,1,0,1,1,0,0
45,92600-1250_7_45,0.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",46.00,906.00,1128.00,5.00,1103.760,192.719,"(994.3, 1128.0)",0.500,"(994.3, 1148.0)",45,101101,92600-1250_7,13,1,0,0,0,0,0,1,0,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,92600-1174_5_11,0.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",12.00,133.00,1355.00,4.00,7228.382,901.580,"(236.6, 1355.0)",4.000,"(236.6, 1478.3)",11,001011,92600-1174_5,54,0,0,0,0,0,1,1,0,0,0,1,0,1,1
12,92600-1174_5_12,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",13.00,138.00,518.00,5.00,23178.165,1448.933,"(826.3, 518.0)",0.500,"(826.3, 558.0)",12,001100,92600-1174_5,17,0,1,0,0,0,0,1,0,0,0,1,1,0,0
13,92600-1174_5_13,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",14.00,199.00,2.00,5.00,23178.165,1448.933,"(887.3, 2.0)",0.500,"(887.3, 42.0)",13,001101,92600-1174_5,17,0,1,0,0,0,0,1,0,0,0,1,1,0,1
14,92600-1174_5_14,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",15.00,266.00,2.00,5.00,23178.165,1448.933,"(954.3, 2.0)",0.500,"(954.3, 42.0)",14,001110,92600-1174_5,17,0,1,0,0,0,0,1,0,0,0,1,1,1,0
15,92600-1174_5_15,90.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",16.00,610.00,1271.00,4.00,16412.140,1145.674,"(766.1, 1271.0)",4.000,"(766.1, 1388.4)",15,001111,92600-1174_5,26,0,0,0,0,1,0,0,1,0,0,1,1,1,1
16,92600-1174_5_16,90.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",17.00,135.00,1462.00,4.00,1103.760,192.719,"(155.0, 1462.0)",4.000,"(155.0, 1550.3)",16,010000,92600-1174_5,13,1,0,0,0,0,0,0,1,0,1,0,0,0,0
17,92600-1174_5_17,0.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",18.00,182.00,694.00,2.00,16412.140,1145.674,"(299.4, 694.0)",0.000,"(299.4, 850.1)",17,010001,92600-1174_5,26,0,0,0,0,1,0,1,0,0,1,0,0,0,1
18,92600-1174_5_18,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",19.00,199.00,816.00,5.00,4439.800,615.763,"(323.8, 816.0)",0.500,"(323.8, 870.5)",18,010010,92600-1174_5,18,0,0,1,0,0,0,1,0,0,1,0,0,1,0
19,92600-1174_5_19,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",20.00,199.00,945.00,5.00,4439.800,615.763,"(323.8, 945.0)",0.500,"(323.8, 999.5)",19,010011,92600-1174_5,18,0,0,1,0,0,0,1,0,0,1,0,0,1,1
20,92600-1174_5_20,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",21.00,333.00,2.00,5.00,23178.165,1448.933,"(1021.3, 2.0)",0.500,"(1021.3, 42.0)",20,010100,92600-1174_5,17,0,1,0,0,0,0,1,0,0,1,0,1,0,0
21,92600-1174_5_21,90.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",22.00,227.00,1462.00,4.00,1103.760,192.719,"(247.0, 1462.0)",4.000,"(247.0, 1550.3)",21,010101,92600-1174_5,13,1,0,0,0,0,0,0,1,0,1,0,1,0,1
22,92600-1174_5_22,0.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",23.00,387.00,2.00,2.00,25195.570,1434.169,"(995.5, 2.0)",0.000,"(995.5, 119.3)",22,010110,92600-1174_5,23,0,0,0,1,0,0,1,0,0,1,0,1,1,0
23,92600-1174_5_23,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",24.00,260.00,1358.00,2.00,4439.800,615.763,"(314.5, 1358.0)",0.000,"(314.5, 1482.8)",23,010111,92600-1174_5,18,0,0,1,0,0,0,0,1,0,1,0,1,1,1
24,92600-1174_5_24,90.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",25.00,728.00,1324.00,2.00,16412.140,1145.674,"(884.1, 1324.0)",0.000,"(884.1, 1441.4)",24,011000,92600-1174_5,26,0,0,0,0,1,0,0,1,0,1,1,0,0,0
25,92600-1174_5_25,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",26.00,472.00,51.00,5.00,23178.165,1448.933,"(1160.3, 51.0)",0.500,"(1160.3, 91.0)",25,011001,92600-1174_5,17,0,1,0,0,0,0,1,0,0,1,1,0,0,1
26,92600-1174_5_26,0.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",27.00,199.00,1074.00,5.00,4439.800,615.763,"(323.8, 1074.0)",0.500,"(323.8, 1128.5)",26,011010,92600-1174_5,18,0,0,1,0,0,0,1,0,0,1,1,0,1,0
27,92600-1174_5_27,90.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",28.00,845.00,1368.00,4.00,1103.760,192.719,"(865.0, 1368.0)",4.000,"(865.0, 1456.3)",27,011011,92600-1174_5,13,1,0,0,0,0,0,0,1,0,1,1,0,1,1
28,92600-1174_5_28,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",29.00,534.00,2.00,5.00,23178.165,1448.933,"(1222.3, 2.0)",0.500,"(1222.3, 42.0)",28,011100,92600-1174_5,17,0,1,0,0,0,0,1,0,0,1,1,1,0,0
29,92600-1174_5_29,0.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",30.00,257.00,815.00,2.00,16412.140,1145.674,"(374.4, 815.0)",0.000,"(374.4, 971.1)",29,011101,92600-1174_5,26,0,0,0,0,1,0,1,0,0,1,1,1,0,1
30,92600-1174_5_30,90.00,"[(0.0, 9.0), (9.0, 0.0), (115.8, 0.0), (124.8,...","POLYGON ((0 9, 9 0, 115.8 0, 124.8 9, 124.8 45...",31.00,852.00,1403.00,2.00,4439.800,615.763,"(906.5, 1403.0)",0.000,"(906.5, 1527.8)",30,011110,92600-1174_5,18,0,0,1,0,0,0,0,1,0,1,1,1,1,0
31,92600-1174_5_31,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",32.00,601.00,2.00,5.00,23178.165,1448.933,"(1289.3, 2.0)",0.500,"(1289.3, 42.0)",31,011111,92600-1174_5,17,0,1,0,0,0,0,1,0,0,1,1,1,1,1
32,92600-1174_5_32,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",33.00,668.00,2.00,5.00,23178.165,1448.933,"(1356.3, 2.0)",0.500,"(1356.3, 42.0)",32,100000,92600-1174_5,17,0,1,0,0,0,0,1,0,1,0,0,0,0,0
33,92600-1174_5_33,0.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",34.00,257.00,936.00,2.00,16412.140,1145.674,"(374.4, 936.0)",0.000,"(374.4, 1092.1)",33,100001,92600-1174_5,26,0,0,0,0,1,0,1,0,1,0,0,0,0,1
34,92600-1174_5_34,90.00,"[(0.0, 50.6), (0.0, 114.3), (3.0, 117.3), (42....","POLYGON ((0 50.6, 0 114.3, 3 117.3, 42 117.3, ...",35.00,257.00,1053.00,2.00,25195.570,1434.169,"(374.3, 1053.0)",0.000,"(374.3, 1661.5)",34,100010,92600-1174_5,23,0,0,0,1,0,0,0,1,1,0,0,0,1,0
35,92600-1174_5_35,0.00,"[(117.4, 156.1), (117.4, 108.0), (78.2, 108.0)...","POLYGON ((117.4 156.1, 117.4 108, 78.2 108, 78...",36.00,628.00,1139.00,2.00,16412.140,1145.674,"(745.4, 1139.0)",0.000,"(745.4, 1295.1)",35,100011,92600-1174_5,26,0,0,0,0,1,0,1,0,1,0,0,0,1,1
36,92600-1174_5_36,0.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",37.00,788.00,1135.00,4.00,7228.382,901.580,"(891.6, 1135.0)",4.000,"(891.6, 1258.3)",36,100100,92600-1174_5,54,0,0,0,0,0,1,1,0,1,0,0,1,0,0
37,92600-1174_5_37,90.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",38.00,731.00,1260.00,3.00,23178.165,1448.933,"(771.0, 1260.0)",3.500,"(771.0, 1948.3)",37,100101,92600-1174_5,17,0,1,0,0,0,0,0,1,1,0,0,1,0,1
38,92600-1174_5_38,0.00,"[(1.0, 123.3), (0.0, 122.3), (0.0, 93.3), (1.0...","POLYGON ((1 123.3, 0 122.3, 0 93.3, 1 92.3, 21...",39.00,920.00,1304.00,4.00,7228.382,901.580,"(1023.6, 1304.0)",4.000,"(1023.6, 1427.3)",38,100110,92600-1174_5,54,0,0,0,0,0,1,1,0,1,0,0,1,1,0
39,92600-1174_5_39,0.00,"[(6.0, 38.0), (7.1, 40.0), (97.5, 40.0), (98.7...","POLYGON ((6 38, 7.1 40, 97.5 40, 98.7 38, 98.7...",40.00,735.00,2.00,5.00,23178.165,1448.933,"(1423.3, 2.0)",0.500,"(1423.3, 42.0)",39,100111,92600-1174_5,17,0,1,0,0,0,0,1,0,1,0,0,1,1,1
40,92600-1174_5_40,0.00,"[(28.5, 0.0), (60.1, 0.0), (84.4, 7.9), (88.3,...","POLYGON ((28.5 0, 60.1 0, 84.40000000000001 7....",41.00,1042.00,1397.00,5.00,1103.760,192.719,"(1130.3, 1397.0)",0.500,"(1130.3, 1417.0)",40,101000,92600-1174_5,13,1,0,0,0,0,0,1,0,1,0,1,0,0,0

In [18]:
result = []
for name, group in data.groupby('batch_jobid'):
    if len(group) == 50:
        temp_x = group[["13_coords","17_coords","18_coords","23_coords","26_coords","54_coords","Rot_0","Rot_90",
                           "pos_0", "pos_1", "pos_2", "pos_3", "pos_4", "pos_5"]].values.reshape(1,-1)
        # ------------------------------------------------------
        mean = group["score"].mean()
        max_x = np.max([i[0] for i in group["Left down"].values])
        max_y = np.max([i[1] for i in group["right down"].values])
        area_quote = 1-group["Area"].sum()/(max_x*max_y)
        temp_df = pd.DataFrame(np.concatenate((temp_x,[mean, max_x, area_quote]), axis=None).reshape(1,-1), index = [name])
        # --------------------------------------------------------
        result.append(temp_df)

In [19]:
result = pd.concat(result)

In [20]:
result.to_csv("regression.csv")

In [21]:
result.iloc[:,701].describe()

count   15302.000
mean     1879.890
std       325.726
min       935.500
25%      1637.000
50%      1853.300
75%      2099.500
max      3037.500
Name: 701, dtype: float64